<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swufe.tripapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CardiffActivity"></activity>
        <activity android:name=".EdinburghActivity" />
        <activity android:name=".LondonActivity" />
        <activity android:name=".UKActivity" />
        <activity android:name=".NiceActivity" />
        <activity android:name=".LyonActivity" />
        <activity android:name=".MarseilleActivity" />
        <activity android:name=".ParisActivity" />
        <activity android:name=".FranceActivity" />
        <activity android:name=".HoustonActivity" />
        <activity android:name=".ChicagoActivity" />
        <activity android:name=".LAActivity" />
        <activity android:name=".NYActivity" />
        <activity android:name=".USAActivity" />
        <activity android:name=".DaeguActivity" />
        <activity android:name=".InchonActivity" />
        <activity android:name=".BusanActivity" />
        <activity android:name=".SeoulActivity" />
        <activity android:name=".KroeaActivity" />
        <activity android:name=".MainActivity_trip">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" />
        <activity android:name=".ScrollView_aboutus" />
        <activity android:name=".HomePage" />
        <activity android:name=".Fragment1Activity" />
        <activity android:name=".BeijingFirstActivity" />
        <activity android:name=".ShanghaiActivity" />
        <activity android:name=".ChengduActivity" />
        <activity android:name=".HKActivity" />
        <activity android:name=".BeijingActivity" />
        <activity android:name=".TaiwanActivity" />
    </application>

</manifest>